.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}

.container-content{
   
    
    max-width: 1320px;
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #242424;
}

.img{
    border-radius: 50%;
    border: 10px solid #242424;
    
}

.title{
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    line-height: 60px;
    
}

.texto{
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}

h1, p{
    color: #FFF;
}

.skills{
    
    max-width: 1320px;
    width: 80%;
    display: flex;
    
    margin-bottom: 30px;
    flex-direction: column;
    
    
}

.skills h1{
    margin-bottom: 10px;
}




.skills-container{
    
    max-width: 1320px;
    width: 80%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    margin-bottom: 50px;
}




.skills-box p{
    font-size: 25px;
    text-align: center;
    
   
}

@media only screen and (min-width: 1440px) {
    .container{
        height: 633px;
    }
}

@media (max-width: 858px) {
    .container-content{
        
        
        flex-direction: column;
        height: 100%;
        
        

    }

    .title{
        font-size: 30px;
        line-height: 40px;
    }

    .texto{
        font-size: 25px;
        line-height: 40px;
    }

    
    .skills{
        align-items: center;
        padding: 10px;
    }

    .skills h1{
        padding: 10px;
    }

    .skills-container{
        justify-content: center;
        align-items: center;
    }

    .skills-box{
        padding: 30px;
        
    }

    .skills-box svg{
        margin-left: 10px;
    }

    .img{
        width: 180px;
    }

    .skills-p{
        padding-bottom: 15px;
    }

}

